---
import Base from "../layouts/Base.astro"
---

<Base>
    <h2>About Ladrillos</h2>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis ad incidunt, laborum at nam deleniti, delectus hic alias odit iure dicta maxime sunt unde neque odio nisi velit qui culpa!</p>
</Base>
